/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-green: #66806a;
  --color-light-green: #b4c6a6;
  --color-light-orange: #ffc286;
  --color-light-pink: #f2ddc1;
  --color-pink: #e2c2b9;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: 2d4263;
  --color-yellow: #fff1af;
  --color-black: #000000;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Border */
  --border-radius: 4px;

  /* animation-duration */
  --animation-duration: 250ms;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: default;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* NavBar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  background-color: transparent;
  padding: 16px 30px;
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: all ease-in var(--animation-duration);
}
#navbar.navbar--dark {
  background-color: var(--color-light-green);
  padding: 5px 15px;
}

.navbar__toggle--btn {
  position: absolute;
  top: 17px;
  right: 10px;
  font-size: var(--font-medium);
  color: var(--color-white);
  display: none;
  transition: all ease-in var(--animation-duration);
}
.navbar__toggle--btn.toggle--dark {
  top: 8px;
  right: 5px;
}

.navbar__menu {
  display: flex;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
  background-color: var(--color-green);
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

/* Home */
#home {
  background: center/cover no-repeat url("images/background.png");
  position: relative;
  text-align: center;
  padding: 50px;
  padding-top: 120px;
}

.home__avatar {
  width: 250px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}
.home__title,
.home__description {
  color: var(--color-white);
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--font-small);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  border: 1px solid var(--color-light-orange);
  margin-bottom: 16px;
  color: var(--color-light-orange);
}
.major__icon:hover {
  color: var(--color-yellow);
  font-size: 80px;
  transition: all ease-in-out var(--animation-duration);
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-small);
}

.education {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.education__logo {
  width: 50px;
  height: 50px;
  opacity: 0.7;
}
.education__description {
  margin: 0 16px;
  text-align: left;
}
.education__name,
.education__period {
  color: var(--color-light-grey);
}
.education__name {
  font-size: var(--font-small);
}
.education__description {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-light-pink);
  text-align: center;
}
.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-white);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skill {
  margin-bottom: 16px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skill__value {
  width: 70%;
  height: 3px;
  background-color: var(--color-light-orange);
}
.skillset__right {
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
}
.tools,
.etc {
  padding: 20px;
}

/* My Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-light-orange);
  border-radius: 50%;
  color: white;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 15px;
  background-color: var(--color-light-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-grow: 1;
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.project__description > h3 {
  color: var(--color-light-orange);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
  text-align: center;
}

.testimonial {
  display: flex;
  margin: 32px;
}
.testimonial__picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimonial__picture:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__picture:nth-child(even) {
  margin-left: 40px;
}
.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}
.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}
.testimonial__speech-bubble a {
  color: var(--color-light-orange);
}

/* Contact */
#contact {
  background-color: var(--color-light-orange);
  padding: 50px;
  text-align: center;
}
.contact__title {
  margin: 32px 0;
}
.contact__email {
  margin: 15px 0;
}
.contact__title,
.contact__email {
  color: var(--color-white);
}
.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: all ease-in var(--animation-duration);
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-green);
}

.arrow-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  opacity: 0;
  visibility: hidden;
  transition: all ease-in var(--animation-duration);
}
.arrow--dark {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .navbar__toggle--btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-light-green);
  }
  .navbar__menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }

  .navbar__menu.active {
    display: block;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  .about__majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 30px;
  }
  .skillset {
    flex-direction: column;
  }
  .testimonial {
    flex-direction: column;
    position: relative;
    margin: 0;
    margin-top: 80px;
  }
  .testimonial__picture {
    position: absolute;
    margin: 0px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    top: -50px;
    left: -50px;
    width: 80px;
    height: 80px;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
    height: 0;
  }

  100% {
    transform: scaleY(1);
    height: 220px;
  }
}
